{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.inicio')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
      <li class="crumb"><i class="icon fa fa-chevron-right"></i><a href="{{url_for('core.internas_i')}}">Funções Internas</a></li>
      <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Mensagens</span></li>
    </ul>
  </div>
</div>


<h4><b>Mensagens dos últimos 90 dias</b>

<p></p>

{% if msgs == [] %}
  <h3>Nada nos últimos 90 dias...</h3>
{% else %}

<div style="overflow-y: auto; height:550px">

  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Data e Hora</p></th>
        <th scope="col"><p align = "center">Origem</p></th>
        <th scope="col"><p align = "left">Mensagem</p></th>
      </tr>
    </thead>

    <tbody>

      {% for msg in msgs %}

      <tr>
        <th scope="row"><p align = "center">{{msgs.index(msg) + 1}}</p></th>
        <td><p align = "center"> {{msg.data_hora.strftime("%x - %H:%M")}}  </p></td>
        <td><p align = "center">
          {% if msg.demanda_id|int(-1) != -1 %} 
            <a href="{{url_for('demandas.demanda', idDemanda=msg.demanda_id|int)}}"><abbr title="Clique aqui para ver a demanda">Demanda</abbr></a>
          {% else %}
            <a href="{{url_for('trabalhos.ver_pt',ptId=msg.demanda_id)}}"><abbr title="Clique aqui para ver o PT">PT</abbr></a>
          {% endif %}
        </p></td> 
        {% if msg.msg == 'A demanda foi concluída!'%}
          <td><p align = "left" class="text-secondary">{{msg.msg}}</p></td>
        {% elif msg.msg == 'A demanda recebeu um despacho!'%}
          <td><p align = "left" class="text-success"><b>{{msg.msg}}</b></p></td>
        {% elif msg.msg == 'Chefia, a demanda está pedindo um despacho!'%}
          <td><p align = "left" class="text-warning">{{msg.msg}}</p></td>
        {% elif msg.msg == 'A opção -Necessita despacho?- foi marcada na sua demanda!'%}
          <td><p align = "left" class="text-info">{{msg.msg}}</p></td>
        {% elif msg.msg == 'A demanda recebeu uma providência alheia!'%}
          <td><p align = "left" class="text-danger">{{msg.msg}}</p></td>
        {% elif msg.msg == 'A demanda foi transferida para você!'%}
          <td><p align = "left" class="text-danger"><b>{{msg.msg}}</b></p></td>
        {% else %}
          <td><p align = "left">{{msg.msg}}</p></td>
        {% endif %}

      </tr>

      {% endfor %}

    </tbody>

  </table>

</div>

{% endif %}

{% endblock %}
