/build
/dist
/__pycache__
/project/__pycache__
/project/core/__pycache__
/project/error_pages/__pycache__
/project/pessoas/__pycache__
/project/planejamento/__pycache__
/project/static/__pycache__
/project/static/par.csv
/project/static/pe.csv
/project/static/pt.csv
/project/static/pessoas_filtro.csv
/project/static/pessoas.csv
/project/static/unidades_filtro.csv
/project/static/unidades.csv
/project/static/planos_entrega.csv
/project/static/planos_trabalho.csv
/project/templates/__pycache__
/project/trabalhos/__pycache__
/project/unidades/__pycache__
/project/unidades/__pycache__/
/project/usuarios/__pycache__
/compose.yaml
/project/entregas/__pycache__
/project/entregas/__pycache__
