/build
/dist
/__pycache__
/project/__pycache__
/project/core/__pycache__
/project/error_pages/__pycache__
/project/pessoas/__pycache__
/project/planejamento/__pycache__
/project/static/__pycache__
/project/templates/__pycache__
/project/trabalhos/__pycache__
/project/unidades/__pycache__
/project/unidades/__pycache__/
/project/usuarios/__pycache__
/compose.yaml