{% extends "template_gov.html" %}
{% block content %}
<div class="container">

<div class="jumbotron">

  <h4>Trabalhos (atividades) no Plano de Trabalho selecionado</h4>

  <caption>
    <div class="row">
        <div class="col">
          <p>Lista de <b>{{quantidade}}</b> trabalho(s). </p>
        </div>
    </div>
  </caption>

  <div class="container" style="overflow-y:auto; height:400px">

    <table class="table table-striped table-hover table-sm">
      <caption>Trabalhos</caption>
      <thead>
        <tr>
          <th scope="col"><p align = "center">#</p></th>
          <th scope="col"><p align = "center">Entrega</p></th>
          <th scope="col"><p align = "left">Descrição</p></th>
          {# <th scope="col"><p align = "left">C.H.</p></th> #} 
          <th scope="col"><p align = "center">Status</p></th>
          <th scope="col"><p align = "center">% progresso</p></th>
          <th scope="col"><p align = "center">Início</p></th>
          <th scope="col"><p align = "left">Fim</p></th>
        </tr>
      </thead>
      <tbody>

        {% for t in trabalhos %}

        <tr>
          
          <th scope="row"><p align = "center">{{trabalhos.index(t) + 1}}</p></th>
          <td><p align = "center"> 
            {% if t.entrega == None or t.entrega == '' %}
              Não há
            {% else %}  
              {{t.entrega}}
            {% endif %}   
          </p></td>
          <td><p align = "left"> {{t.descricao}} </p></td>
          {# <td><p align = "center"> {{t.carga_horaria}} </p></td> #}
          <td><p align = "center"> 
            {% if t.status == 'INCLUIDO' %}
              <span class="text-primary">{{t.status}}</span>
            {% elif t.status == 'CONCLUIDO' %}
              <span class="text-success">{{t.status}}</span>  
            {% elif t.status == 'PAUSADO' %}
              <span class="text-warning">{{t.status}}</span>  
            {% else %}
              <span class="text-dark">{{t.status}}</span>
            {% endif %} </p></td>
          <td><p align = "center"> {{t.progresso|decimal_com_virgula}} </p></td>
          <td><p align = "center"> {{t.data_inicio.strftime('%d/%m/%Y')}} </p></td>
          <td><p align = "center"> {{t.data_entrega.strftime('%d/%m/%Y')}} </p></td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

  </div>

</div>

</div>
{% endblock %}
