{% extends "template_gov.html" %}
{% block content %}

<div class="col mb-5">
  <div class="br-breadcrumb">
    <ul class="crumb-list">
      <li class="crumb home"><a class="br-button circle" href="{{url_for('core.inicio')}}"><span class="sr-only">Página inicial</span><i class="fa fa-home"></i></a></li>
      <li class="crumb" data-active="active"><i class="icon fa fa-chevron-right"></i><span>Lista de Planos de Trabalho 
        {% if lista == 'Enviado para aceite' %}
          enviado(s) para aceite
        {% elif lista == 'solic_pend' %}
          com solicitaçõe(s) pendente(s)
        {% elif lista == 'para_avaliar' %}
          que aguarda(m) avaliação pela chefia
        {% elif lista == '%' %}
          em todas as situações   
        {% endif %}
      </span></li>
    </ul>
  </div>
</div>

<div class="container">
  
  <h4>Lista de Planos de Trabalho</h4>

<caption>
  <div class="row">
      <div class="col-10">
        <p>Lista de <b>{{quantidade}}</b> Planos de Trabalho
          {% if lista == 'AGUARDANDO_ASSINATURA' %}
            aguardando assinatura
          {% elif lista == 'solic_pend' %}
            com solicitaçõe(s) pendente(s)
          {% elif lista == 'para_avaliar' %}
            que aguarda(m) avaliação pela chefia
          {% elif lista == 'recurso' %}
            com recurso sobre avaliação  
          {% elif lista == '%' %}
            em todas as situações  
          {% else %}
            {{lista}}  
          {% endif %}    
        </p>
      </div>
  </div>
</caption>

<div style="overflow-y:auto">
  <table id="table"
              data-toggle="table"
              data-filter-control="true"
              data-show-search-clear-button="true"
              data-sortable="true"
              classes="table-sm"
              data-show-columns="true"
              data-show-columns-toggle-all="true"
              class="table table-striped table-hover table-sm">
          <caption>Planos de Trabalho</caption>

    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col" data-field="Pessoa" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Pessoa</p></th>
        <th scope="col" data-field="Unidade" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Unidade</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Início</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Fim</p></th>
        <th scope="col" data-field="Forma" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Forma</p></th>
        <th scope="col" data-field="Situação" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Situação</p></th>
        <th scope="col"><p align = "center"><abbr title="Carga Horária Diária">C.H.</abbr></p></th>
        <th scope="col"><p align = "center"><abbr title="Lista dos trabalhos deste PT">Trabalhos</abbr></p></th>
        <th scope="col"><p align = "center">Avaliações</p></th>
      </tr>
    </thead>

    <tbody>
      {% for p in planos_trabalho_lista %}
      <tr>
        <th scope="row"><p align = "center"> 
          {#
          <a class="card-title" href="{{url_for('trabalhos.ver_pt',ptId=p.planoTrabalhoId)}}">
          <abbr title="Clique aqui para ver detalhes do Plano">
          {{planos_trabalho_lista.index(p) + 1}} </abbr></a>
          #}
          {{planos_trabalho_lista.index(p) + 1}}
        </p>
        </th>
        <td><p align = "center"> {{p.nome}} </p></td>
        <td><p align = "center"> {{p.sigla}} </p></td>
        <td><p align = "center"> {{p.data_inicio.strftime('%d/%m/%Y')}} </p></td>
        <td><p align = "center"> {{p.data_fim.strftime('%d/%m/%Y')}} </p></td> 
        <td><p align = "center"> {{p.forma}} </p></td>
        <td><p align = "center">  
            {% if p.vencido == 's' and p.status == 'ATIVO' %} 
              <span class="text-danger"><b>{{p.status}}</b></span>
            {% elif p.status == 'INCLUIDO' %}
              <span class="text-primary">{{p.status}}</span>
            {% elif p.status == 'AVALIADO' %}
              <span class="text-success">{{p.status}}</span>  
            {% elif p.status == 'AGUARDANDO_ASSINATURA' %}
              <span class="text-warning">{{p.status}}</span>  
            {% else %}
              <span class="text-dark">{{p.status}}</span>
            {% endif %}
        </p></td>
        <td><p align = "center"> {{p.carga_horaria|decimal_com_virgula}} ({{p.forma_contagem_carga_horaria}}) </p></td>  
        <td><p align = "center"> 
          {% if p.qtd_trabalhos != None %}
            <a style="text-decoration: none" href="{{url_for('trabalhos.consulta_trabalhos',ptId=p.id)}}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">
              {{p.qtd_trabalhos}} </a>            
          {% else %}
            Não há
          {% endif %}   
        </p></td> 
        <td><p align = "center">
          {% if p.qtd_aval != None %}
            <a style="text-decoration: none" href="{{url_for('trabalhos.consulta_avaliacoes',ptId=p.id)}}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">
              {{ p.qtd_aval }}   </a>
        {% else %}
          Não há
        {% endif%}
      </p></td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

</div>

</div>
{% endblock %}
