{% extends "template_gov.html" %}
{% block content %}
<div class="container">

<div class="jumbotron">

  <h4>Trabalhos no Plano de Trabalho informado</h4>

  <caption>
    <div class="row">
        <div class="col">
          <p>Lista de <b>{{qtd_trabalhos}}</b> trabalho(s). </p>
        </div>
    </div>
  </caption>

  <div class="container" style="overflow-y:auto; height:400px">

    <table class="table table-striped table-hover table-sm">
      <caption>Trabalhos</caption>
      <thead>
        <tr>
          <th scope="col"><p align = "center">#</p></th>
          <th scope="col"><p align = "center">Entrega</p></th>
          <th scope="col"><p align = "left">Descrição</p></th>
          <th scope="col"><p align = "center">Situação</p></th>
          <th scope="col"><p align = "center">% esforço</p></th>
          <th scope="col"><p align = "center">Demandas</p></th>
          <th scope="col"><p align = "left">Relato</p></th>
        </tr>
      </thead>
      <tbody>

        {% for t in trabalhos %}

        <tr>
          
          <th scope="row"><p align = "center">{{trabalhos.index(t) + 1}}</p></th>
          <td><p align = "center"> {{t.nome}} </p></td>
          <td><p align = "left"> {{t.descricao}} </p></td>
          <td><p align = "center"> {{t.sit}} </p></td>
          <td><p align = "center"> {{t.percentualEsforco}} </p></td>
          <td><p align = "center"> {{t.qtd_demandas}} </p></td>
          <td><p align = "left"> {% if t.relatoEntrega == None %}N.I.{% else %} {{t.relatoEntrega}} {% endif %}</p></td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

  </div>

</div>

</div>
{% endblock %}
